* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-container {
    width: 600px;
    height: 400px;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: space-around; 
    padding-top: 10px; 
    gap: 20px; 
}
.input-section {
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    gap: 20px;
}

.input_form {
    display: flex;
    gap: 8px;
    align-items: center;
}

.cityInput {
    height: 40px;
    padding: 5px;
    font-size: 15px;
}

.submit-button, 
.fav-city,
.night-mode {
    height: 40px;
    padding: 5.5px;
}

.container-text {
    font-weight: 600;
}
.dynamic-section {
    min-width: 200px;
    position: absolute;
    bottom: 45%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    font-size: 1.125em;
}
