* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.main-container {
  display: grid;
  grid-template-rows: 1fr auto 1fr; 
  justify-content: center;
  width: 600px;
  height: 400px;
  gap: 12px;
  padding: 16px;
  border: 1px solid blue;
  border-radius: 10px;
}

#input-form {
    display: flex;
    gap: 8px;
    align-items: center;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#city-input {
    height: 40px;
    padding: 5px;
    font-size: 15px;
}

#submit-button, 
#fav-city-button,
#night-mode-button {
    border: 1px solid blue;
    border-radius: 5px;
    height: 40px;
    padding: 5px;
}

.dynamic-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.error-message {
    width: auto;
    padding: 10px;
    text-align: center;
    height: 40px;
    font-size: 1rem;
    border: 1px solid red;
}