* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-container {
    width: 500px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: flex-start; 
    padding-top: 10px; 
    gap: 20px; 
}

.input_form {
    display: flex;
    gap: 8px;
    align-items: center;
}

.cityInput {
    height: 40px;
    padding: 5px;
    font-size: 15px;
}

.submit-button {
    height: 40px;
    padding: 5px;
}

.container-text {
    font-weight: 600;
}

