* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(0, 0%, 80%);
    color:  black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body.dark-theme {
    background-color: hsl(0, 0%,15%);
    color: whitesmoke;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr auto 1fr; 
  justify-content: center;
  width: 600px;
  min-height: 400px;
  gap: 12px;
  padding: 16px;
  border: 1px solid blue;
  border-radius: 10px;
}

#input-form {
    display: flex;
    gap: 8px;
    align-items: center;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#city-input {
    height: 40px;
    padding: 5px;
    font-size: 15px;
}

#fav-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    align-items: start;
    gap: 10px;
    padding: 10px;
}
.fav-city-piece {
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
    border-radius: 5px;
    height: 40px;
    background: white;
}
.fav-city-text {
    margin: 6px;
    color: black;
}

#submit-button, 
#fav-city-button,
#night-mode-button,
#show-fav-city,
#remove-fav-city {
    border: 1px solid blue;
    border-radius: 5px;
    height: 40px;
    padding: 5px;
}

.dynamic-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.error-message {
    width: auto;
    padding: 10px;
    text-align: center;
    height: 40px;
    font-size: 1rem;
    border: 1px solid red;
}